Plots for papers/spectrum_with_spectral_gap_final.png
Plots for papers/spectrum_with_spectral_gap_sketch.png
Plots for papers/spectrum_with_spectral_gap_v2.png
Plots for papers/spectrum_with_spectral_gap.png
Plots for papers/spectrum_without_gap_v2.png
Plots for papers/spectrum_without_spectral_gap_final.png
Plots for papers/spectrum_without_spectral_gap_v3.png
Plots for papers/spectrum_without_spectral_gap_v4.png
Plots for papers/spectrum_without_spectral_gap.png

**/__pycache__/
